@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
  Solution to find the number of days between two dates, without using the built-in DateTime or TimeSpan classes.<br />  
  Prompt the user to input two dates, calculate the number of days between them, and display the result back to the user.<br />  
  The user story:<br />
 <br />
“As a user, I want a web-based interface to help me find the number of days between two dates, so that I don’t have to do it manually.”<br />
</p>
